@{
    ViewData["Title"] = "Home Page";
}

<section class="clearfix">
    <div id="slider" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover" data-bs-interval="false">
        <ol class="carousel-indicators">
            <li data-bs-target="#slider" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#slider" data-bs-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active banner_1" style="background:#000">
                <img class="img-fluid banner_img" src="~/images/Building Image.png" alt="Banner one" style="opacity:0.5">
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-10">
                                <h1 class="text-white mb-3 animated-08">Ashirwad Lands &amp; Residential Plots</h1>
                                <div class="property_price">
                                    <h5 class="text-white animated-08">
                                        <span class="bhk">Starts</span>
                                        <div>
                                            <span class="starting_price"></span>
                                            <span>₹ 15 Lacs*</span>
                                        </div>
                                    </h5>
                                </div>
                                <ul class="banner_list">
                                    <li class="text-white animated-08">
                                        <img src="~/images/property.png" alt="luxury property" width="25px"> Immediate Possesion Available
                                    </li>
                                    <li class="text-white animated-08">
                                        <img src="~/images/location.png" alt="luxury property" width="25px"> Payment Plan: Installment And Cash
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <form class="contact-box rt-contact-form1 banner_form bg-white p-3" action="https://fdr.pixleo.com/lead" method="post">
                                    <h3 class="text-center">Schedule a Site Visit</h3>
                                    <div class="row gy-3">
                                        <div class="col-lg-12 form-group">
                                            <input autocomplete="off" id="FIRSTNAME" name="FIRSTNAME" class="form-control" data-error="Name cannot contain digit or special character" placeholder="Your Full Name" pattern="[a-zA-Z ]{4,35}" required="">
                                        </div>
                                        <div class="col-lg-12 form-group">
                                            <input autocomplete="off" id="EMAIL" name="EMAIL" class="form-control" data-error="Name cannot contain digit or special character" placeholder="Email Address"  required="">
                                        </div>
                                        <div class="col-lg-12 form-group">
                                            <input autocomplete="off" type="text" id="PHONE" name="PHONE" class="form-control" data-error="Phone is required" placeholder="Phone/Mobile" required="" pattern="[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}">
                                        </div>
                                        <input autocomplete="off" id="DOMAIN" name="DOMAIN" maxlength="200" type="hidden" value="https://www.bhutaniprojectsnoida.net/">
                                        <div class="col-lg-12 form-group">
                                            <div class="advanced-button">
                                                <button class="item-btn" type="submit">GET CALL BACK</button>
                                                <input autocomplete="off" id="PROJECT" name="PROJECT" maxlength="200" type="hidden" value="Bhutani Project Noida">
                                                <input autocomplete="off" id="LOCATION" name="LOCATION" maxlength="200" type="hidden" value="Noida">
                                                <input autocomplete="off" id="TEAM" name="TEAM" maxlength="200" type="hidden" value="umikoindia">
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group text-center">
                                            <a class="btn btn-primary btn-md call_now" href="tel:+916364884022">
                                                <i class="fa fa-phone"></i> +916364884022
                                            </a>
                                        </div>
                                        <div class="form-response"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row gy-4 m-auto">
    <div class="col-12 text-center gy-4">
        <p class="fw-bold">
            Projects In Nagpur
        </p>
        <p>
            Find your dream home from our Premium Properties
        </p>
    </div>
    <div class="col-12 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="~/images/Bhutani-Cyberthum.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ashirwad Residency In City</h5>
                <p class="card-text"><i class="fa-solid fa-map-pin me-1"></i>Bharatwada, Pardi</p>
            </div>
            <div class="card-body">
                <p class="d-flex">
                    <span class="fw-bold text-dark">Type:</span>
                    <span class="ms-1">Residential Plot</span>
                </p>
                <p class="fw-bolder text-danger fs-4">₹ 3 Lacs* Onwards</p>
                <p class="text-success fw-bold my-0 py-0">600,1000 and 1500 sq.ft</p>
                <p class="text-success fw-bold my-0 py-0">Area lies in Nagpur Smart City</p>
                <p class="text-success fw-bold my-0 py-0">Smart City under Development</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="~/images/Bhutani-Cyber-Park.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ashirwad Road Touch Plots</h5>
                <p class="card-text"><i class="fa-solid fa-map-pin me-1"></i>Dongargaon, Kuhi Road Nagpur</p>
            </div>
            <div class="card-body">
                <p class="d-flex">
                    <span class="fw-bold text-dark">Type:</span>
                    <span class="ms-1">Commercial Plot</span>
                </p>
                <p class="fw-bolder text-danger fs-4">₹ 3 Lacs* Onwards</p>
                <p class="text-success fw-bold my-0 py-0">2 acres of total farm</p>
                <p class="text-success fw-bold my-0 py-0">80 sq ft front Road</p>
                <p class="text-success fw-bold my-0 py-0"></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="~/images/bhutani-avenue-133.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ashirwad Residency</h5>
                <p class="card-text"><i class="fa-solid fa-map-pin me-1"></i>Bharatwada, Pardi</p>
            </div>
            <div class="card-body">
                <p class="d-flex">
                    <span class="fw-bold text-dark">Type:</span>
                    <span class="ms-1">Residential Plot</span>
                </p>
                <p class="fw-bolder text-danger fs-4">₹ 3 Lacs* Onwards</p>
                <p class="text-success fw-bold my-0 py-0">26.8 acres of mixed-use complex</p>
                <p class="text-success fw-bold my-0 py-0">Tallest commercial tower in NCR</p>
                <p class="text-success fw-bold my-0 py-0">Smart building with AI</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="~/images/Bhutani-62-Avenue.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ashirwad Residency</h5>
                <p class="card-text"><i class="fa-solid fa-map-pin me-1"></i>Bharatwada, Pardi</p>
            </div>
            <div class="card-body">
                <p class="d-flex">
                    <span class="fw-bold text-dark">Type:</span>
                    <span class="ms-1">Residential Plot</span>
                </p>
                <p class="fw-bolder text-danger fs-4">₹ 3 Lacs* Onwards</p>
                <p class="text-success fw-bold my-0 py-0">26.8 acres of mixed-use complex</p>
                <p class="text-success fw-bold my-0 py-0">Tallest commercial tower in NCR</p>
                <p class="text-success fw-bold my-0 py-0">Smart building with AI</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="~/images/Bhutani-City-Centre.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ashirwad Residency</h5>
                <p class="card-text"><i class="fa-solid fa-map-pin me-1"></i>Bharatwada, Pardi</p>
            </div>
            <div class="card-body">
                <p class="d-flex">
                    <span class="fw-bold text-dark">Type:</span>
                    <span class="ms-1">Residential Plot</span>
                </p>
                <p class="fw-bolder text-danger fs-4">₹ 3 Lacs* Onwards</p>
                <p class="text-success fw-bold my-0 py-0">26.8 acres of mixed-use complex</p>
                <p class="text-success fw-bold my-0 py-0">Tallest commercial tower in NCR</p>
                <p class="text-success fw-bold my-0 py-0">Smart building with AI</p>
            </div>
        </div>
    </div>
</div>